
.card {
    width: 12rem;
    padding: 2rem 0;
    margin: 1rem;
    background: linear-gradient(45deg, #6495ed, #222264 80%) no-repeat;
    border-radius: 5px;
    text-align: center;

}
.card div{
    padding: 0.1rem 0;
}
